<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'monsieurbiz_advanced_shipping.ui.advanced_shipping_configuration'|trans }}</h4>
            {{ sylius_template_event('monsieurbiz.advanced_shipping.admin.shipping_method.form', _context) }}
        </div>
    </div>
</div>
