<h4 class="ui dividing header">{{ label|trans }}</h4>
<div class="ui icon info message"><i class="info circle icon"></i>
    <div class="content">{{ 'monsieurbiz_advanced_shipping.form.postcode_calculator_configuration.rules_help'|trans|raw }}</div>
</div>
